.wrongAnswer{
    background-color: red;
}

.correctAnswer{
    background-color: #7CFC00;
}

.centralDiv{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#questionFieldset{
    width: 100%;
}

#noteCardDiv{
    //height: 300px;
    display: flex;
    flex-direction: column;
    //justify-content: space-evenly;
}

#answerFieldset{
    width: 100%;
    height: 100%
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

testFieldSet{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#answersDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    margin-bottom: 20px;
    flex-wrap: wrap;
    //height: 60px;
    
    /*display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-template-rows: 30px 100px;
    grid-template-columns: 100px 100px;
    padding: 10px;*/
}


#prvNextBtnDiv{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120;
    display: flex;
    flex-direction: row;
    //align-items: center;
    justify-content: space-between;
    flex: 0 0 50%;
    margin-bottom: 20px;
}

#submitDiv{
    margin: 120;
    flex: 0 0 50%;
}

#answerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
